<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>

<script type="text/javascript">
    angular.module("app", [])
        .controller("ExampleController", ExampleController);

    function ExampleController($http, $httpParamSerializer, $scope) {
        $http({
            url: "http://appwithformsauth.localtest.me/identity/connect/token",
            method: "POST",
            data: $httpParamSerializer({
                grant_type: "password",
                scope: "reporting_api offline_access",
                username: "username",
                password: "password"
            }),
            headers: {
                "Accept": "application/json",
                "Authorization": "Basic " + btoa("reporting_with_password:F621F470-9731-4A25-80EF-67A6F7C5F4B8"),
                "Content-Type": "application/x-www-form-urlencoded"
            }
        }).then(function (token) {
            console.log(token);
            $http({
                url: "/test",
                method: "GET",
                headers: {
                    "Authorization": token.data.token_type + " " + token.data.access_token
                }
            }).then(function (x) {
                console.log(x);
                $scope.result = x.data;
            }, function () {
                console.log(arguments);
            });
        }, function() {
            console.log(arguments);
        });
    }
</script>

<div ng-app="app">
    <div ng-controller="ExampleController">{{result}}</div>
</div>

